.component-page {
  flex-grow: 1;
  background: #F9FAFC;

  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 92px;
  padding-bottom: 56px;
}

.component-page__content {
  padding-top: 36px;

  display: grid;
  grid-template-columns: 229fr 56fr 825fr;
  grid-template-areas:
    "componentSelectList . componentContent";
}

.component-page__select-list {
  grid-area: componentSelectList;
}

.component-page__data {
  grid-area: componentContent;
}

.component-page__footer {
  color: var(--ray-3, #ACB5BD);

  /* h5 */
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
  text-transform: uppercase;

  display: grid;
  justify-content: center;
}