/* Стилизация аккордеона */

.accordion {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  overflow: hidden;
  width: 579px;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.accordion__summary {
  display: block;
  outline: none;
  cursor: pointer;
  position: relative;

  color: #000;
  /* p */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.accordion__hide-content {
}