.main {
  flex-grow: 1;
  background: #F9FAFC;

  display: flex;
  flex-direction: column;
}

.main__content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  row-gap: 64px;
  align-items: center;
  justify-content: center;

  padding-top: 68px;
  padding-bottom: 92px;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main__card {
  width: 350px;
  height: 367px;
}

.main__controls {
}

.main__controls {}

@media only screen and (max-width: 1150px) {
  .main__cards {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: 16px;
  }

  .main__card {
    width: 100%;
  }
}


@media only screen and (max-width: 648px) {
  .main__cards {
    justify-content: center;
  }
}

@media only screen and (max-width: 475px) {
  .main__cards {
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
  }
}
