.main {
  flex-grow: 1;
  background: #F9FAFC;

  display: flex;
  flex-direction: column;
}

.main__content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  row-gap: 64px;
  align-items: center;
  justify-content: center;

  padding-top: 68px;
  padding-bottom: 92px;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main__card {
  width: 350px;
  height: 367px;
}

.main__controls {
}

.main__controls {}

.main__component-page {
  flex-grow: 1;
  background: #F9FAFC;

  display: grid;
  grid-template-rows: 1fr auto;
  /* padding-bottom: 56px; */
}

.main__component-content {
  padding-top: 36px;

  height: 100%;

  display: grid;
  grid-template-columns: 229fr 56fr 825fr;
  grid-template-areas:
    "componentSelectList . componentContent";
}

.main__components-list {
  grid-area: componentSelectList;
}

.main__selected-component {
  grid-area: componentContent;
}

@media only screen and (max-width: 550px) {
  .main__component-content {
    display: block;
  }

  .main__components-list {
    display: none;
  }

  .main__component-page {}
}