.footer {
  padding-top: 72px;
  padding-bottom: 136px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.header__about {
  color: var(--black, #212429);

  /* h2 */
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 126.316% */
}

.footer__description {
  color: var(--black, #212429);
  text-align: center;

  /* p */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  max-width: 640px;
  text-align: center;
}