.header {
  padding-top: 24px;
}

.header__logo-and-nav {
}

.header__logo {
}


.header__title {
  color: var(--black, #212429);

  /* h1 */
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 128% */

  margin-top: 38px;
  margin-bottom: 40px;
}