.main {
  display: flex;
  flex-direction: column;
  row-gap: 64px;

  padding-top: 68px;
  padding-bottom: 92px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: inherit;
}

.main__cards {}

.main__controls {}