.main {
  padding-top: 68px;
  padding-bottom: 92px;

  height: inherit;
}

.main__cards {
  width: fit-content;

  margin-left: auto;
  margin-right: auto;
}

.main__controls {
  width: fit-content;

  margin-left: auto;
  margin-right: auto;
}