.container {
  width: 1110px;

  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1150px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }


}


@media only screen and (max-width: 475px) {
  .container__component-page {
    padding-left: 0px;
    padding-right: 0px;
  }
}