.skeleton {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  border: 1px solid var(--gray-3, #ACB5BD);
  border-radius: 8px;

  /* width: 100%; */

  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 32px;
  padding-right: 40px;
}

.skeleton__header {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.skeleton__avatar {
  width: 64px;
  height: 64px;

  border-radius: 100%;

  background-color: var(--gray-2, #DDE2E5);;
}

.skeleton__titles {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  width: 100%;
}

.skeleton__title {
  height: 20px;

  background: linear-gradient(93deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__title_short {
  width: 32.39171375%;

}

.skeleton__title_half {
  width: 48.3992467%;
}

.skeleton__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.skeleton__content-item {
  width: 100%;
  height: 20px;

  background: linear-gradient(93deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}