.tooltip {
  width: fit-content;
  height: fit-content;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip__help-icon {
  max-width: 24px;
  max-height: 24px;

  cursor: pointer;
}

.tooltip__help-icon:hover + .tooltip__help-info {
  display: block;
}

.tooltip__help-info {
  color: var(--Gray-2, #DDE2E5);
  text-align: center;

  text-wrap: nowrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 21px;
  padding-right: 21px;

  border-radius: 10px;
  background: #4263EB;

  /* Card Shadow */
  box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);

  position: absolute;
  top: -53px;

  display: none;
}

.tooltip__help-info::after {
  content: '';
  border: 7px solid transparent;
  border-top: 7px solid #4263EB;

  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}