.footer {
  background: #FFF;
}

.footer__content {
  padding-top: 71px;
  padding-bottom: 136px;
}

.footer__title {
  color: var(--black, #212429);

  text-align: center;

  /* h2 */
  /* font-family: Inter; */
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 126.316% */
}

.footer__desc {
  color: var(--black, #212429);
  text-align: center;

  margin-top: 32px;

  margin-left: auto;
  margin-right: auto;

  /* p */
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media only screen and (min-width: 640px) {
  .footer__desc {
    max-width: 640px;
  }
}

.footer__component-page {
  background: #F9FAFC;
}

.footer__component-content {
  color: var(--gray-3, #ACB5BD);
  /* h5 */
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
  text-transform: uppercase;

  display: grid;
  justify-content: center;

  margin-top: 92px;
  margin-bottom: 56px;
}