.checkbox {
  display: inline-flex;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  left: -100vw;
}

.checkbox__state {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.checkbox__control {
  width: 28px;
  height: 28px;

  border: 1px solid #DDE2E5;
  border-radius: 4px;

  display: grid;
  justify-items: center;
  align-items: center;
}

.checkbox__icon {}

.checkbox__title {
  color: var(--gray-4, #495057);

  /* p */
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background-color: #4263EB;
  border-color: #4263EB;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
  text-decoration: underline;
}